
#meta-gen-btn{
    position: fixed;
    top: 10px;
    left: 10px;
    visibility: visible;
}

@media screen and (max-width: 900px){
    #meta-gen-btn{
        visibility: hidden;
    }
    #main-menu{
        width: 100vw;
    }
    #main-menu h1{
        font-size: 1.3em;
    }
}

