#series{
    width: 50%;
    margin: 0 auto;
    padding-top: 1%;
}

#series-season-list-list button{
    min-width: 80px;
    max-width: 100px;
}

#series-episode-list-list button{
    min-width: 80px;
    max-width: 100px;
}

#season-form-control{
    min-width: 120px;
    max-width: 150px;
    position: fixed;
    margin: 0;
    padding: 0;
    right: 17.5vw;
    top: 10vh;
}

#series-episode-list{
    position: fixed;
    margin: 0;
    padding: 0;
    right: 3vw;
    top: 0vh;
}

#series-season-list{
    position:fixed;
    margin:0;
    padding:0;
    right:16.5vw;
    top:0vh;
}

#series-episode-list-list{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 10vh;
    max-height: 50vh;
    /*min-width: 10vw;*/
    overflow: auto;
}

#series-season-list-list{
    position:fixed;
    margin:0;
    padding:0;
    top:10vh;
    right:15vw;
    max-height: 50vh;
    /*min-width: 8vw;*/
    overflow: auto;
}

@media screen and (max-width: 900px) and (orientation: portrait){
    #series{
        width: 100%;
        padding-top: 0;
    }
    #series h1{
        font-size: 100%;
    }
    #series-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #series-menu-lists{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }
    #series-episode-list{
        position: relative;
        right: 0;
        top: 0;
    }
    #series-episode-list h1{
        font-size: 1.5em;
    }
    #series-episode-list-list{
        position: relative;
        right: 0;
        top: 0;
    }
    #series-season-list{
        position:relative;
        right: 0;
        top: 0;
    }
    #series-season-list h1{
        font-size: 1.5em;
    }
    #series-season-list-list{
        position:relative;
        right: 0;
        top: 0;
        overflow-y: auto;
    }
    #series-menu-lists{
        margin-bottom: 1%;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape) {
    #series{
        width: 70%;
        height: auto;
    }
    #series-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #series-menu-lists{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;
    }

    #series-season-list{
        position: relative;
        top: 0;
        right: 0;
    }

    #series-season-list-list{
        position: relative;
        right: 0;
        top: 0;
        overflow-y: auto;
    }
    #series-episode-list{
        position: relative;
        top: 0;
        right: 0;
    }
    #series-episode-list-list{
        position: relative;
        top: 0;
        right: 0;
    }
}
