#movie{
    padding-top: 1%;
    width: 70%;
    margin: 0 auto;
}

@media screen and (max-width: 900px) and (orientation: portrait) {
    #movie{
        padding-top: 0;
        width: 100%;
    }
    #movie h1{
        font-size: 1.3em;
    }
}
